env:
  global:
    - secure: NlirnQfPdQUhBwn2K434Nm3ihAP0Dj0RIuDi85BKayV7UmODJteqp/DazbvLwbv92KkfqURcZKiT/kW0c/1ZAJTtAausuIEm5Oo9x0GFpFv6dXgZHNnqCXEeWFMdJg+UByUT3bcIbSlw+PRKq8dpVRh5BbKyjr9DTpEzd0wXqcHr0PMuuL+dNHDToNqQQIkuOEjUSe3qxL624sW1qaNbfGfsxiTaUaJfolqr4GTJPHo8bBDM/j8l5NRtGV+2dNc5ll25aN48v7TfOLT/WmcQcV/nZd0g68O7mIwwThIJNtTxpXyufs8VkFlDuzaWAV6wqzet1hMeZIPi6KJqj9IR4mldrUAHSD1H262wTMU1moexzsufjCxG/jkcJEjnwE6TQigZDxveFVXnqEGvp/bnhmstBpu+IX3De8KcWpS430+ZYFWmNEC1zsHZb8o672DjqnqToUxLc4WURXkd2FnbRxYk4SXhTs/O9/2/WWzThhU1zEdFIzl4PTRuHPL/RjCn/6sXQnlxPPn1DJXioPEgRPKkXtfNeEYkG54Oky30ZAz7BW5U22CjLRzqo+XBmqDiPBv1nHUD+9xE5Y8urLr1IrpjnFNUaxJlrTe3rg/4OBA5vXC6x2zkoyPelRimaCnEgw+gw7cbP/rqG8iWcrRqlw/EHm88yv8IOhGYVbFjCr0=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install pyfunceble-dev
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
