env:
  global:
    - secure: ojLsa2KgPC5eB4hS/Ew2QTrlnqzdnsO3J+HTKpzMnxs2jc7TVEoMrMPPAq9e5LXTLWKnTFnj6e4oogcE9T5P7d10PPelMHEzUMDu3EvKSv3x8jX2fwMKmrSkPQZaQEtjIBN/ZC93ppDk0xsdk6dwseqxAmNM3hrzXaoUAV9JFKoO5lh7aE8EqWtTLhwwyMcvp15Y+k3Z2Jv2SOBZlULUrpr1LhhM0ZM/JF7hV5Azg3IYBxDn6iJ1kh2vN1Eq6zSV/VSy0QLPK7LuD/l3xrsaP1kbiBjh/vbIOI5ByLGW8co0I/pYBJUeOrDfxC4J5RfrVE7UkURE/nyziw8+A0vQqrHV3BpqvVBLr/NEp6DrACtZk8B+emWOt87iJ6WgEzyRyOcjGt/0ukeaDRt5TQ6M0573p8ZwDjN6rWIU9VtGfRePVP5rDXuuELQMLGXhYshtZPd1UddWByJ1HZDJfLLCENdK9cbOnBMo6I5HjyX7fuTFxMAhBvbbwV7eGm7cQuwCOxBeUU7swyOvV+t8QknYAlpN7nKtrAUVqKHU9gWSt70OpXcOH2iFDhg81/DIv92tCjztBWOtbNWwmoIA+Blxu5RGp0ZeYtVhM5cPgKMsxvIZDSR7cpPILDuRWyubro3A96O1qP2CUW4kUZNmsqshoPvObeOkPZIsAtfPAUC6pUg=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - pip

sudo: required

addons:
  apt:
    packages:
      - dos2unix

install:
  - pip3 install pyfunceble-dev

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
