env:
  global:
    - secure: EX2KSdhIwXTHD0wClMLfzHm3WAZTeiY1RCSgKmm14AYNle9Ly2C2MtNMvLXWAvAPJwsrAhytNj0ILVgzS0fqpuuV8kUGRcOVgmgpu8+YCbtM239ZsSkFZd0b+HRMwoC9y+Ok6hUACgIuK62HN8zdeRmPg6RGuT3uHDmDU6ZhVTbwSBEbSgP148ocQpCphnPPU5bHPdBjvWt4ZpNbEbARP5+pKGvFawUN+aIkv126izLEr1K+8d/4M4JxwqyaaDafIdjoomWtBSFyG9FswPW6zFk/yu9+2Pm9yy1lJHVCUl05LlrahT+604qpTxl10821nmyuxOJ0zppklOaXd2I86DDR4TC1jqVbjJzgi8LpiJYatBdQ3avuU6FhAgBqtOdkgoodb8L3bP42+rQHqsBKbWTTfU19OZdZ9ho7aXw5SuHfR4JVkBNr3Q8a1gC+FzVlBluYFFumPUr4iA6HGK5R1umXJ7DsRdZT4hspz2K9ghrRaVlwj+O51LT8YtnMIsQbqC4mqwE/FeYtdtMagjGLvmQi9VM8Uv1Y5PPkae7uU4YoZgMi7bnM0J4OAPntMI48Ou/kcWe+RpndpK6f1l81bjckfWY58MHqGuIERExaE3PqxTj4FqwCtH73j8RBqopMcG9eDyYu6r7i4l2UVg4lB2hp0tqrzH4cSbnQE72dFBo=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install git+https://github.com/funilrys/PyFunceble.git@dev#egg=PyFunceble
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
