env:
  global:
    - secure: i58710Y9qqeH2AU7WNnwvbhqke9DIYto70+apsgdJm0zZSCnacpFWWqoIDkr57JvuoUsdzgRS2owhqBuvVqL6RqdoFqgd0MWsGR0f5HGztEwePyVKtMGkGppw+oDN/L5D4/lYw8QkRbDWxvZPvmf71GLlyC4oEFTS1m/I54Anr8XUSh6GypMVe/QaTb83i2/EgCqZSYNEtewMWGoA7tbgvsciRrF3/LL4/u8fzmujVXa0Z1zVtn6uUQYSn9ayyMd6vRrcl+ezNeGDQsWla3EFr3lvyXrxpguKZ2fQI0eZOyUazijzjYQbDvVE2jro/0UZDBF++hO8U9mRJzy8VMDSROxL0ZS4R3mfadGZF/O13+CIXF0yNXEiWHAlcIro4Zo/zHaU5qsoAkAmTF93U/C2CWD61iks68LsPCGoA0oR7OREpDcJx0kxv/extE7Dy+cHbmh+5kvBHG/aIr9hCBBimXA+4YWrQq6B6G+2pLwaL1UgPDr3KyaPtCCNlJbuFIVb4En20aCZADsK+Le6YDNp1OwT/iodaWuRZH6DVdK02AkwGSOPfgzKsk6PebH7ovFswroyJiufXogtUSQc4TRwXj6N1RY6X4bz0VFJj036repai1Bh86suMPVrsZ0ZZVq6ROnmNbPBZ0X3CCsgW1tPXTStfkocsYBxq5uy6ekjjM=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install git+https://github.com/funilrys/PyFunceble.git@dev#egg=PyFunceble
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
