env:
  global:
    - secure: TyXAacO4gPwpBws7b6pX+fGRBxfjTWiCLXhL2zEE/3BVw11am7XUKni87ZmdzcinxFJ8h684f0MCFbKeHz8s3ZMFOsA5YTeWTIAGS120JpCI2eZELLcflcgrr6W5Nf1nsEgIKW3CMaYDj6kIoWl8I+0yfL295hKvrfQjzgIdbnJG9J8CxvJ1Pu6NM2wIBCG+0HcKYzF3ig2UuTFcs3lPO/p8Z6ME9MTm4/cXWEXqirbkDhJ55d20qxrq749rwWWQRGkDydoI3438TdLBuhSCROoz4oH79VhUUgtsWBWfr6Qlh+cx6XZRiP0kp7TWk6p/VgyhNxM+vEQ6wERIGEKjxBn2G4rge6gC7KrLTiDIn2L04Zy2it+QqZK4fkXlFBxl10zeW4kOXOn2szWv2y6U6LQ8Clw9jSalexcM2+qZZEHEr5WE2ZA1Z+pxe4IpYmP5GNmokst/ZSmNppH9eKyyZDGav9yNcoMgvZP3SMtaHwJyGrh/k05K5AHCJ3eDwYciMJLbdEyWfypS1wKTcyIVylCz4VhkqIhmhCL2SEJ7pYlCTuciUPfeG+cduvoEesLnxmo+41md1YnEKOQ7LCTPwFXjUXqHcJ8coBz9PcO71uH1ZmL5CV0Ts5x7AnGNM7PDnUXv45XzLSq/9gVp4riC1Av+pp/TPrKD5EwWLXK1pOk=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install pyfunceble-dev
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
