env:
  global:
    - secure: UYn9r7ub2bnx14VsDzvu+ZPErRaIm96sO4V8MvQ9LbOThvMvuRHpzh1xnAkG0GJWuY7NP99VQgFdpk6Q/hMqP176Y9IAmXW+5JH7/t2sbaaOiwISx6sNyIZdsbRUed1PvZcDUzPSFk3THBQycWNhO/c7avyaMrKKJ9NhTapCCRGEfy/pnp8+RheAALVd9Q74SOd0wfBUJ49+yePO1kq9cAVsgH+ttxXis6KCQZrBlbQdTV04Lzj5Egz3TKic8vLzz8+CW2Gc/IbnVLLoq7P/L/q57guzwllCSIJL11mNJSLS6GoxWMEAFkyMPrTDakN1aFt7RafIFCLntDi/VUUig7ux8Wjowbio4OQZ7ONrGqOVNC38xQb3WrzajIUTkX4U2gz2/kI1dYAy87VD77DpzS8k8ER4xWq+VWS3VB4B4A8pxzUHQlTlRx7G2rwZ13bh//1LMKMla4ctHzKDCazA3Jui5Xz6qN8opnE1pzJiWnjqlbztLCkTa8+IOBBNKghrGo3NDzXScDzIVbdBKdDQH+S+rFywpvhi9FpXSy5HZ31o5LsIThtfmAqFjEjANX1oy7sXTDjg37x11SmiEd5FzVg0wESSaVRJaNDtfw9s9hfNU5Dk/KSG66lfpUTzmFLhLkyY7Hf6PZUByO+BogOyPp6YMh7KsZ46YJK2CHRR8xI=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install git+https://github.com/funilrys/PyFunceble.git@dev#egg=PyFunceble
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
