env:
  global:
    - secure: rlIj7TcpHRTTVM4gxfeAgPdr3GDYUuZBQtdrDpxMIn5AcM5mBdzovmKAug7O4CBUETayIdn4WbvgMNFd4UVL7ubm77UT/14j1tnTAqfvTOd3z6EXD6M0lsiaMNoFT0/6OW9571FnxDLmpnESZJFJHhHOFZGxSbDVpBBag82psfwAs8obGwkOtocKC1uSWpSUTGgrX8R+ynn8GUzOvbhvd/vXN0COVUSVL4rFvCW+jbf81/QzVkmZfMO/NC48sb9tPEJGOi0P/jtBZ5lyiaX/GMRqY0dBSKkBiDd/UMDr51Lf3fiiOCXVPr9ms5yHtQqx8sA5IRHblj8zSMzYwvNzxX6oaRF/m2aZPtHQXUiQMRjuTfkv+nr4e7RFR10EviI8YN2ppGPd21NeejPPkvdJrN0OXNEGMhIcz4xgdPNshnIvVcKkSDqvqwDXqkrsJlZ1+1gPq1UPSk0+xTxwlGHXFcBPl08sxD6endUcuOI/C10Sr5rk2Mwi2uG9M/UBxrST9Zb45m9veWXb1MRkTP62zAqh7wwDhfLvACshGV2zKX7dqenrJKCCP0oLoruZWGGQFWCdHfDUfFyWs/4qbmuq/jvQNqHgEaxh0nw1D+4WE/akCHbhOR/uX4LvRCEaA+maqY55jR88gJbNxywd5dB2MEPWGscxJpvoRXMFazINh0Q=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install pyfunceble-dev
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
