env:
  global:
    - secure: Dz4eUDryj7vqPyqA/TK4hVjC9wuPGWF9IT06tNJNDY8TZpsp8lCSfJHqeWmSrCrJnTrUCBtxPYCHDR/FAjTPyCOvvKrfFtEABsTOgqxz5FfaFmPfAK89eVn4Nb4asVY50DQhlW74VEBGOCsToCogQGaisCyc1orjU6Y36nh+34qHeSOurV4KotIjkmZvKVWjwgZmrFHwQvlLSQEZMe0ybZQRiQLUXBPyDheO5G0jykHjUto/jSS4Ugo6wK8/R9Ip+Y97BghM6bswl6268Rb7RbOXL0TzTrZz+1Z2jaqOgdIjps0MYPgbpOlihabUI4awl8BDyo6r4c/2CMcUzELxi7bqw8H02+mp0R0age3u8Frq+xNXOao2J9/zQXpKX9ZOQhU88pelp+6FOaXvp7Z9zxGPlFSpM/LdIKXMB4h02mVP3+hWQYq6myeKbxhVgbpqfpbGTp0AGXekcLD9ydUdKaNZBPgnkua6jChUMPFav2J/DNtNKLVxEQVTvFPXr4uudAxkUj+JLfV0Cb4N6Dcoln9Oedvx1rTgHeSmSYvoDITHQRcGontkdAwlUdSeU0idZj3W1aVBWNWrXP6o0SYhSqfxh9IQr+WHmovMvQQUvKmDHMy4Otwo6VMNmWsUVfIKL+oMHdJHnFXAUO1hGERIoBwSwj++GdiQQBI31A6rlkI=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: funilrys@outlook.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install git+https://github.com/funilrys/PyFunceble.git@dev#egg=PyFunceble
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
