env:
  global:
    - secure: ENPH1ZFS16fiyh+ng7ULhcM2FX82/Kgz6/gUi2gkO2ZcNBUFOTe4/EL5Pulf1Jikg1udqyVK/eSxXehfSC96JsVCr8p2ykVSq5b2FamtAFuelDSzEjrkkTottv9XIdNHybB5X2b71dWgrhXSbYFtxYxfCMMgOjQeroCx1RRTI1ocqvmIc97eUbo98J0h0NJNk6s9Kqc52RYYif+gIbvLe0jyPcbGUlFlq+vwYSsBf9bsWoH9K30Hw9faVy2j30dAkR0WQ2Zvk6HeR63SljS+JUG5Rd+PS/Tl1BFDvRdibvfHrQibSObmydbVyIGJ3vZsnWxb/xTtXgsQNAgSDVQ9vtXWJKV88LIf4w75yiSU9QEG5s+KRawoeA+cz3StQhTNq6iBlglGrc9j/Xz77Ef6STYWtW5cXP/PVcjLlAcL+EHV5QUgYcNUUbWNjR4Z8I8ISRd7lVOE8GmUjvUg4afTCgGXC2c4v9HMzezswnE8W1s4sT11m/peL2kvr1rAOrqBV8I6uSAiq1pSxnap4huUmU9mD3lMXP1MjaCnFjcTlUH1+OJgdPfx0MZVQH6Mw49VkZWFMvPneZcoto15e0S5OBx2ECktyvkghv+4dzYi7xdsoshBIfiJWJRtJF2rtYoHMUWoO0mWYRi2dyepiYFGPDk8B9nknPzZIClTxEbD02o=
    - GIT_NAME: Travis CI
    - GIT_EMAIL: dead-hosts@funilrys.com
    - TRAVIS_REPO_SLUG: dead-hosts/hosts-list_web_malwaredomainlist.com
    - GIT_BRANCH: master

language: python

python:
  - "3.6"

matrix:
  fast_finish: true

cache:
  - apt
  - pip

sudo: required

install:
  - pip3 install git+https://github.com/funilrys/PyFunceble.git@dev#egg=PyFunceble
  - sudo apt-get -y install dos2unix

script:
  - python3 ./update_me.py

notifications:
  on_success:   change
  on_failure:   always
